p, h3 {
    color: darkgrey;
}

.black_bg, .white {
    color: white;
    background-color: black;
}
/* 박스 전체 설정 */
div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
/* 개별 박스 */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
/* hi의 형제 태그인 p의 정보를 바꾼다. */
h1 + p {
    color: darkgreen;
}

.red + .blue + div {
    background-color: purple;
}

ol > li {
    color: coral;
}

ol#chocolate > li {
    color: chocolate;
}
/* ul 태그 내 모든 li 에 적용 */
ul li {
    color:lime;
}
/* ul 태그 내 두번 째 li 에 적용 */
ul li:nth-of-type(2) {
    color:black;
}