<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>영화 상세 정보</h1>
        <p>{{ movie.title }}</p>
        <p>{{ movie.audience }}</p>
        <p>{{ movie.genre }}</p>
        <p>{{ movie.score }}</p>
        <p>{{ movie.poster_url }}</p>
        <p>{{ movie.description }}</p>
        <a href="/movies/">[목록]</a>
        <a href="#">[수정]</a>
        <a href="/movies/{{ movie.pk }}/delete/">[삭제]</a>
</body>
</html>